html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(242, 242, 243);
}

nav{
    background-color:rgb(46, 87, 148);
    height: 50px;
    text-align: center;
    line-height: 3em;
    color: white;

}

#container{
    width: 90%;
    height:auto;
    padding: 10px 10px 30px 10px;
    margin: auto;
    margin-top: 30px;
    max-width: 800px;
    border-radius: 8px;
}
#itemContainer{
    width: 90%;
    height: 30px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    align-items: center;
    max-width: 750px;
}

.itemData{
    width: 65%;;
    padding: 10px 0px;
    margin-left: 5px;
    padding-left: 10px;
    float: left;
    align-items: center;
    border-radius: 4px;
    border: none;
    border: rgb(114, 121, 128) 2px solid;
    font-family: 'Raleway', sans-serif;

}

.itemButton{
    width: 23%;
    align-items: center;
    padding: 12px 0px;
    margin-right: 5px;
    float: right;
    border: none;
    background-color: rgb(54, 109, 190);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

footer{
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 3px;
}

.itemStyle{
    height: 40px;
    width: 85%;
    margin: auto;
    margin-top: 5px;
    padding: 0px 10px 0px 20px;
    border-radius: 4px;
    background-color: white;
    line-height: 2.5em;
    border: rgb(114, 121, 128) 2px solid
}

.deleteButton{
    height: 100%;
    float: right;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    transition-duration: 300ms;
}
.deleteButton:hover{
    background-color: red;
    color: white;
    transition-duration: 300ms;
}


.inCartButton{
    height: 100%;
    float: right;
    padding: 5px;
    margin: 0px 10px 0px 0px;
    border: none;
    background-color: transparent;
    color: rgb(24, 192, 100);
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    transition-duration: 400ms;
}

.inCartButton:hover{
    background-color: rgb(24, 192, 100);
    color: white;
    transition-duration: 400ms;
}

.clearInCartItems{
    display: block;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: transparent;
    color: red;
    max-width: 850px;
    border-radius: 4px;
    border: none;
    visibility: hidden;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    transition-duration: 400ms;
}

.clearInCartItems:hover{
    background-color: red;
    color: white;
    transition-duration: 400ms;
}