html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(rgb(218, 229, 238), rgb(213, 231, 247));
    
}

nav{
    background-color:rgb(46, 87, 148);
    height: 70px;
    text-align: center;
    line-height: 3em;
    color: white;
    box-shadow: 3px 2px 8px #888888;

}
#instructions{
    width: 85%;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 2px 4px black;
    transition-duration: 200ms;
    visibility: hidden;
}

#instructions:hover{
    box-shadow: 1px 2px 8px black;

    transition-duration: 200ms;
}
.text{
    float: left;
    font-size: small;
    margin-left: 10px;
    margin-top: 10px;
}

#container{
    width: 90%;
    height:auto;
    padding: 10px 10px 30px 10px;
    margin: auto;
    margin-top: 30px;
    max-width: 800px;
    border-radius: 8px;
    
}


#homepageContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#itemContainer{
    width: 90%;
    height: 30px;
    display: flex;
    padding: 20px 20px 20px 20px;
    margin: auto;
    align-items: center;
    max-width: 750px;
    cursor: pointer;
}

.itemData{
    width: 70%;
    margin: auto;
    padding: 12px 0px;
    padding-left: 10px;
    align-items: center;
    border-radius: 4px;
    border: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 1px 2px black;
    visibility: hidden;

}

.itemButton{
    width: 20%;
    margin: auto;
    align-items: center;
    padding: 12px 12px;
    border: none;
    background-color: rgb(48, 167, 121);
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 1px 2px black;
    transition-duration: 400ms;
    visibility: hidden;
}

.itemButton:hover{
    background-color: rgb(63, 228, 165);

    transition-duration: 400ms;
}

footer{
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 3px;
}

.itemStyle{
    height: 40px;
    width: 85%;
    margin: auto;
    margin-top: 5px;
    padding: 0px 10px 0px 20px;
    border-radius: 4px;
    background-color: white;
    line-height: 2.5em;
    border: none;
    box-shadow: 1px 1px 4px black;
}

.deleteButton{
    height: 100%;
    float: right;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.clearInCartItems{
    display: block;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(236, 159, 159);
    color: black;
    max-width: 850px;
    border-radius: 4px;
    border: none;
    visibility: hidden;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 1px 2px black;
    transition-duration: 400ms;
}

.clearInCartItems:hover{
    background-color: rgb(236, 159, 159);
    color: black;
    box-shadow: 1px 1px 4px black;
    transition-duration: 400ms;
}

#HomeForm{
    width: 90%;
    max-width: 800px;
    display: flex;
    margin: 0;
}

.keyInput{
    width: 65%;
    margin: auto;
    padding: 10px 0px;
    padding-left: 10px;
    align-items: center;
    border-radius: 4px;
    border: none;
    border: rgb(54, 109, 190) 2px solid;
    font-family: 'Raleway', sans-serif;
}

.goToListButton{
    width: 26%;
    margin: auto;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: rgb(54, 109, 190);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.createNewList{
    padding: 10px;
    border: none;
    background-color: rgb(48, 167, 121);
    border-radius: 4px;
    float: right;
    width: 100px;
    margin-top: 16px;
    margin-right: 10px;
    color: black;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    transition-duration: 400ms;
    box-shadow: 1px 1px 4px black;
}

.createNewList:hover{
    background-color: rgb(63, 228, 165);

    transition-duration: 400ms;
    
}

#listkeyIF{
    float: left;
    width: 85px;
    margin-left: 7px;
    margin-top: 16px;
    padding: 10px;
    border: none;
    border-right: white 1px solid;
    border-radius: 4px 0px 0px 4px;
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 1px 2px black;
}

.navText{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: small;
}

.goToList{
    padding:10px;
    float: left;
    margin-top: 16px;
    border: none;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    background-color: rgb(48, 167, 121);
    color: black;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    transition-duration: 400ms;
    box-shadow: 1px 1px 2px black;
}
.goToList:hover{
    background-color: rgb(74, 175, 113);
    color: white;
    box-shadow: 1px 1px 4px black;

    transition-duration: 400ms;
}

.navContainer{
    margin: auto;
    width: 100%;
    max-width: 700px;
}

@media (max-width: 1000px) {

    .itemStyle {
        height: 50px;
        font-size: larger;     
    }
    .itemData{

        font-size: medium;
    }
    .itemButton{
        font-size: medium;
    }

}