html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(215, 218, 221);
}

nav{
    background-color:rgb(46, 87, 148);
    height: 50px;
    text-align: center;
    line-height: 3em;
    color: white;

}

#container{
    width: 90%;
    height:auto;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(46, 66, 97);
    max-width: 800px;
    border-radius: 8px;
}
#itemContainer{
    width: 90%;
    height: 30px;
    padding: 20px;
    margin: auto;
    align-items: center;
    max-width: 750px;
}

.itemData{
    width: 73%;;
    padding: 10px 0px;
    padding-left: 10px;
    float: left;
    align-items: center;
    border-radius: 4px;
    border: none;

}

.itemButton{
    width: 23%;
    align-items: center;
    padding: 10px 0px;
    float: right;
    border: none;
    background-color: rgb(54, 109, 190);
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

footer{
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 3px;
}

.itemStyle{
    height: 40px;
    width: 85%;
    margin: auto;
    margin-top: 5px;
    padding: 0px 10px 0px 20px;
    border-radius: 4px;
    background-color: white;
    line-height: 2.5em;
}

.deleteButton{
    height: 85%;
    float: right;
    padding: 5px;
    margin: 3px 0px 0px 0px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.inCartButton{
    height: 85%;
    float: right;
    padding: 5px;
    margin: 3px 10px 0px 0px;
    border: none;
    background-color: rgb(24, 192, 100);
    color: white;
    cursor: pointer;
    border-radius: 4px;

}

.clearInCartItems{
    display: block;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: red;
    color: white;
    max-width: 850px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    visibility: hidden;
    cursor: pointer;
}